<!DOCTYPE html>
<html>
  <head>
    <title>d3 test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/libs/d3/d3.js"></script>
    <style>
      .axis {

      }
    </style>
  </head>
  <body>
    <h1>d3 test</h1>
    <p>Welcome to d3 test</p>
    <a href="/parallels">parallels</a>
    <p>hello world</p>
    <p>hello world</p>
    <svg class="rect"></svg>
    <script type="text/javascript" src="/javascripts/d3-test1.js"></script>
  </body>
</html>
