<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3 v4</title>
  <script type="text/javascript" src="/libs/d3/d3.js"></script>
  <%- block('header').toString() %>
</head>
<body>
  <%- body -%>
  <%- block('footer').toString() %>
</body>
</html>